<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  </head>
  <body>
    <h1>
      "Has cerrado sesion" 
    </h1>
    <h2>Puedes iniciar sesion aquí</h2>
    <button type="submit" formaction="index.html">Iniciar Sesion</button>
  </body>
</html>